<footer>
    <div class="contenedor-footer">
        <div class="fila">
            <div class="columna-compañia">
                <h3>Compañia</h3>
                <ul class="lista-footer">
                    <li>
                        <a href="/aboutUs">Nosotros</a>
                    </li>
                    <li>
                        <a href="/aboutUs">Contactanos</a>
                    </li>
                </ul>
            </div>

            <div class="columna-legal">
                <h3>Legal</h3>
                <ul class="lista-footer">
                    <li>
                        <a href="/termCond">Terminos y Condiciones</a>
                    </li>
                    <li>
                        <a href="/termCond">Politica de privacidad</a>
                    </li>
                    <li>
                        <a href="/termCond">Politica de cookies</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="columna-redes">
            <a href="" class="iconos-footer">
                <i class="icon-facebook-circle"></i>
            </a>
            <a href="" class="iconos-footer">
                <i class="icon-twitter-circle"></i>
            </a>
            <a href="" class="iconos-footer">
                <i class="icon-pinterest-circle"></i>
            </a>
            <a href="" class="iconos-footer">
                <i class="icon-linkedin-circle"></i>
            </a>
            <a href="" class="iconos-footer">
                <i class="icon-instagram-circle"></i>
            </a>
            <a href="" class="iconos-footer">
                <i class="icon-youtube-circle"></i>
            </a>
        </div>

        <div class="columna-copyright">
            <p>©2021-2030 ExploraArgentina, SA</p>
        </div>


    </div>
</footer>
