<link rel="stylesheet" href="/css/styles.css">
<header class="fixed-top">
    <div class="header-principal">
        <div class="header-alineado-flex">
            <div class="contenedor-logo">
                <a href="/"><img src="/img/logo explora blanco fondo azul.jpeg" class="logo"></a>
            </div>
        </div>
    </div>

    <div class="contenedor-nav">
        <nav role="navigation" class="barra-navegacion">
            <ul class="lista-navegacion">
                <li class="titulos-nav"><a href="/">Inicio</a></li>
                <li class="titulos-nav"><a href="/user/register">Registrarse</a></li>
                <li class="titulos-nav"><a href="/user/login">Iniciar sesión</a></li>
                <li class="titulos-nav"><a href="/products/create">Crear producto</a></li>

            </ul>

        </nav>
        <h3 class="titulos-nav bienvenido "></h3>
    </div>
    <script src='/js/header.js' type="text/javascript"></script>
</header>