
    <header class="fixed-top">
        <div class="header-principal">
            <div class="header-alineado-flex">
                <div class="contenedor-logo">
                    <a href="/"><img src="/img/logo explora blanco fondo azul.jpeg" class="logo"></a>
                </div>
                <div class="barra-busqueda-menu">
                    <div class="contenedor-barra-lupa">
                        <input type="text" class="form-control" name="buscar" placeholder="Search">
                        <div class="lupa">
                            <i class="fas fa-search"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="contenedor-nav">
            <nav role="navigation" class="barra-navegacion">
                <ul class="lista-navegacion">
                    <li class="titulos-nav"><a href="/">Inicio</a></li>
                    <li class="titulos-nav"><a href="/register">Registrarse</a></li>
                    <li class="titulos-nav"><a href="/login">Iniciar sesión</a></li>
                </ul>
            </nav>
        </div>

    </header>