<!DOCTYPE html>
<html lang="en">
    <head>
       
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    
    <body>
    <%- include('./partials/header')  %> 
    <main>
        
    <div class="contenedorAboutUs">
    <h1 class="aboutUs">About us</h1>

    <section class="nosotros">
    <div>
        <img src="/public/img/sur.jpg" class="fotos-nosotros">
        <h4>Lautaro Messa</h4> 
    </div>

    <div>
        <img src="" class="fotos-nosotros">
        <h4>Tomás Sorrentino</h4> 
    </div>

    <div>
        <img src="/public/img/Mauro Patat.jpg" class="fotos-nosotros">
        <h4>Mauro Patat</h4> 
    </div>

    <div>
        <img src="/public/img/foto 4x4.jpg" class="fotos-nosotros">
        <h4>Nicolás Tognella</h4> 
    </div>
    </section>

    <ul class="descaboutUs">Somos una agencia de viajes que vende paquetes de turismo para los imperdibles de Argentina.
    <ul class="descaboutUs">Tenemos paquetes que incluyen los destinos: 
    Norte argentino, Cataratas, Buenos Aires, Mendoza, Bariloche y San Martín de los Andes, Península de Valdez, Calafate, Chalten y Ushuaia.
    </ul>
</div>



    <div class="contenedorContact">
    <h1 class="contact">Contactanos</h1>

    <ul class="listaContactos">
        <a href="tel: 47345887"><ion-icon name="call-sharp"></ion-icon> 47431446</a>
        <br>
        <a href="mailto: exploraarg@gmail.com" ><ion-icon name="mail-sharp"></ion-icon>exploraarg@gmail.com</a>
        <br>
        <a href="https://www.instagram.com/exploraarg/"><ion-icon name="logo-instagram"></ion-icon>@exploraarg</a>
    </ul>
    </div>




    </main>
    <%- include('./partials/footer')  %> 
    </body>

</html>