<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head')  %> 
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <%- include('./partials/header')  %> 

    <div class="titulo-inicia-sesion">
        <h3>Iniciá Sesión</h3>
    </div>

    <div class="contenedor-form-login">

        <form action="/user/login" method="POST" class="login-form">

            <div class="contenedor-datos">

                <div class="titulos-login">
                    <h3>Ingresá con tus cuentas</h3>
                </div>

                <div class="ingreso-facebook">
                    <div class="boton-ingreso-redes">
                        <a href="http://facebook.com">Ingresá con Facebook</a>
                    </div>
                </div>

                <div class="ingreso-google">
                    <div class="boton-ingreso-redes">
                        <a href="http://google.com">Ingresá con Google</a>
                    </div>
                </div>

                <div class="titulos-login">
                    <h3>Ingresá con tu email</h3>
                </div>

                <fieldset class="control-formulario">
                    <input type="text" name="email" id="email" class="email" placeholder="Ingresá tu email:"
                        minlength="4" maxlength="40">
                </fieldset>

                <fieldset class="control-formulario">
                    <input type="password" name="password" id="password" class="password"  placeholder="Ingresá tu contraseña:">
                </fieldset>

                <div class="texto-login">
                    <p><a href="">Olvidaste tu contraseña?</p></a>
                </div>

                <fieldset class="control-formulario">
                    <button type="submit" class="boton-formulario">Ingresá</button>
                </fieldset>

                <div class="texto-login">
                    <a href="/user/register">Crear nuevo usuario</a>
                </div>

            </div>

            <div class="contenedor-imagen-login">
                <img src="/img/cataratas_del_iguazu.jpg" class="imagen-login">
            </div>

        </form>

    </div>

    <%- include('./partials/footer')  %> 

    <script src= '/js/validationLog.js' charset="utf-8" type="text/javascript"></script>

</body>

</html>