<!DOCTYPE html>
<html lang="es">

<head>
   
    <link rel="stylesheet" href="/css/styles.css">
</head>

    <body>
	
        <%- include('./partials/header')  %> 
    
        <div class="titulo-register">
            <h3>Mi cuenta</h3>
        </div>
    
        <div class="contenedor-form-register">
    
            <form action="/products" method="POST" class="crear-formulario-producto">
    
                <fieldset class="control-formulario">
                    <label for="name" class="label-form">Nombre del producto:</label>
                    <input type="text" class="control" id=" " required name="name" placeholder="Ej: Paquete Iguazu">
                </fieldset>

                <fieldset class="control-formulario">
                    <label for="name" class="label-form">ID del producto:</label>
                    <input type="text" class="control" id=" " required name="idProduct" placeholder="Ej: Paquete Iguazu">
                </fieldset>

                <fieldset class="control-formulario">
                    <label for="name" class="label-form">ID del destino:</label>
                    <input type="text" class="control" id=" " required name="destination_id" placeholder="Ej: Paquete Iguazu">
                </fieldset>
    
                <fieldset class="control-formulario">
                    <label for="name" class="label-form">ID de categoria:</label>
                    <input type="text" class="control" id=" " required name="category_id" placeholder="Ej: Paquete Iguazu">
                </fieldset>
    
                
                <fieldset class="control-formulario">
                    <label for="precio" class="label-form">Precio:</label>
                    <input type="numero" name="price" id="precio" class="control" placeholder="Ej: $40.000">
                </fieldset>
                
                 <!--el valor que le doy a la imagen cargada en el id del input, es el nombre que debo usar en el middleware dentro de la ruta que llama el multer-->
                 <fieldset class="control-formulario">
                 <label for="image" class="label-form">Imagen</label>
                 <input type="file" id="image" class="control" name="image" accept=".jpg, .png">
                </fieldset>
    
                <fieldset class="control-formulario">
                    <label for="recibeNoticias" class="label-form">Descripción:</label>
                    <div class="noticias-usuario">
                        <textarea rows="4" cols="50" name="description" id="description" class="control description"></textarea> 
                    </div>
                </fieldset>
                
    
                <fieldset class="control-formulario">
                    <button type="submit" class="boton-formulario">Guardar Producto</button>
                    <button type="reset" class="boton-formulario">Borrar</button>
                </fieldset>
    
            </form>
    
        </div>
    
    
        <%- include('./partials/footer')  %> 
        <script src= '/js/validationCreateProduct.js' charset="utf-8" type="text/javascript"></script>
    </body>	
</html>