<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head')  %> 
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <%- include('./partials/header')  %> 

    <main>
        <article class="contenedor-tres-productos">
            <div class="producto">
                <div class="foto-producto">
                    <img src="/img/Tolkeyen-Slider-Glaciar.jpg" class="foto-producto-chica">
                    <div class="descripcion-producto">
                        <div>
                            <p> <% products[0].precio  %>  </p>
                            <ul class="lista-productos">
                                <li>Desayuno</li>
                                <li>Traslado</li>
                                <li>Comidas</li>
                            </ul>
                            <a href="" class="boton-ver-mas">Ver más</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="producto">
                <div class="foto-producto">
                    <img src="/img/Tolkeyen-Slider-Glaciar.jpg" class="foto-producto-chica">
                    <div class="descripcion-producto">
                        <div>
                            <p>producto2</p>
                            <ul class="lista-productos">
                                <li>Desayuno</li>
                                <li>Traslado</li>
                                <li>Comidas</li>
                            </ul>
                            <a href="" class="boton-ver-mas">Ver más</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="producto">
                <div class="foto-producto">
                    <img src="/img/Tolkeyen-Slider-Glaciar.jpg" class="foto-producto-chica">
                    <div class="descripcion-producto">
                        <div>
                            <p>producto3</p>
                            <ul class="lista-productos">
                                <li>Desayuno</li>
                                <li>Traslado</li>
                                <li>Comidas</li>
                            </ul>
                            <a href="" class="boton-ver-mas">Ver más</a>
                        </div>
                    </div>
                </div>
            </div>

        </article>
    </main>

    <%- include('./partials/footer')  %> 

</body>