<!DOCTYPE html>
<html lang="en">



<body>

    <%- include('./partials/header')  %> 

    <div class="titulo-register">
        <h3>Mi cuenta</h3>
    </div>

    <div class="contenedor-form-register">

        <form action="/user/register" method="POST" class="crear-formulario">

            <fieldset class="control-formulario">
                <label for="name" class="label-form">Nombre:</label>
                <input type="text" name="name" id="name" class="name" placeholder="Ej: Juan">
            </fieldset>

            <fieldset class="control-formulario">
                <label for="apellido" class="label-form">Apellido:</label>
                <input type="text" name="apellido" id="lastname" class="lastname" placeholder="Ej: Perez">
            </fieldset>

            <fieldset class="control-formulario">
                <label for="fechaNacimiento" class="label-form">Fecha de Nacimiento:</label>
                <input type="date" name="fechaNacimiento" id="fechaNacimiento" class="control">
            </fieldset>

            <fieldset class="control-formulario">
                <label for="sexo" class="titulo-label">Sexo:</label>
                <div class="sexo-usuario">
                    <input type="radio" name="sexo-usuario" id="masculino" class="control">
                    <label for="masculino">Masculino</label>
                    <input type="radio" name="sexo-usuario" id="femenino" class="control">
                    <label for="femenino">Femenino</label>
                </div>
            </fieldset>

            <fieldset class="control-formulario">
                <div class="nacionalidad">
                    <label for="pais">Nacionalidad</label><span
                        style="color: red !important; display: inline; float: none;">*</span>
                </div>
                <div>
                    <select id="pais" name="pais" class="control-formulario">
                        <%- include('./partials/countries')  %>   
                    </select>
                </div>

            </fieldset>

            <fieldset class="control-formulario">
                <label for="ciudad" class="label-form">Ciudad:</label>
                <input type="text" name="ciudad" id="ciudad" class="control" placeholder="Ej: Buenos Aires">
            </fieldset>

            <fieldset class="control-formulario">
                <label for="numero" class="label-form">Telefono:</label>
                <input type="numero" name="numero" id="numero" class="control" placeholder="Ej: 11-4857-8795">
            </fieldset>

            <fieldset class="control-formulario">
                <label for="documento" class="label-form">Documento de Identidad:</label>
                <input type="text" name="documento" id="documento" class="control" placeholder="Ej: 38.998.784">
            </fieldset>

            <fieldset class="control-formulario">
                <label for="email" class="label-form">Email:</label>
                <input type="text" name="email" id="email" class="email" placeholder="Ej: juanperez@gmail.com">
            </fieldset>

            <fieldset class="control-formulario">
                <label for="contraseña" class="label-form">Contraseña:</label>
                <input type="password" name="password" id="password" class="password" >
            </fieldset>

            <!--<fieldset class="control-formulario">
                <label for="confirmarContraseña" class="label-form">Confirmar contraseña:</label>
                <input type="password" name=confirmarContraseña id="confirmarContraseña" minlength="4" maxlength="14"
                    class="control" required>
            </fieldset> 

            --->

            <fieldset class="control-formulario">
                <label for="recibeNoticias" class="titulo-label">Quiero recibir noticias:</label>
                <div class="noticias-usuario">
                    <input type="radio" name="noticias-usuario" id="noRecibe" class="control">
                    <label for="comprador">No</label>
                    <input type="radio" name="noticias-usuario" id="siRecibe" class="control">
                    <label for="siRecibe">Si</label>
                </div>
            </fieldset>

            <fieldset class="control-formulario">
                <button type="submit" class="boton-formulario">Crear cuenta</button>
                <button type="reset" class="boton-formulario">Borrar</button>
            </fieldset>

        </form>

    </div>

    <%- include('./partials/footer')  %> 

    <script src= '/js/validationCreate.js' charset="utf-8" type="text/javascript"></script>
</body>

</html>