/*----Header----*/

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.header-principal {
    width: 100%;
    margin: auto;
    height: 91px;
    background-color: #0f2a5f;
}

.header-alineado-flex {
    display: flex;
    align-items: center;
}

.contenedor-logo {
    height: 88px;
    width: 75%;
    text-align: left;
}

.barra-busqueda-menu {
    width: 25%;
}

.contenedor-barra-lupa {
    display: flex;
    background-color: #333;
    max-width: 250px;
}

.form-control {
    background-color: #333;
    border-color: #fff;
    color: #ccc;
    padding: 13px;
}

.lupa {
    background-color: #333;
    border-color: #fff;
    color: #ccc;
    font-size: 22px;
    padding: 12px;
}

.logo {
    width: 280px;
    height: 90px;
    padding-left: 65px;
}

.lista-navegacion {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 30%;
}

.bienvenido {
    display: flex;
}

.contenedor-nav {
    background-color: white;
    width: 100%;
    height: 45px;
    padding: 7px;
    display: none;
}

.titulos-nav a {
    color: black;
    text-decoration: none;
}

@media (max-width: 600px) {
    .info p {
        display: none;
    }
}

/* Termina Header */

/* Footer */

footer {
    background-color: #01011f;
    color: #fff;
    font-size: 18px;
    text-align: center;
}

.contenedor-footer {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

footer .row {
    text-align: left;
}

.fila {
    display: flex;
    margin-right: -20px;
    margin-left: -20px;
    height: 200px;
    line-height: 36px;
}

.columna-legal {
    position: relative;
    width: 50%;
    padding-right: 20px;
    padding-left: 20px;
}

.columna-compañia {
    position: relative;
    width: 50%;
    padding-right: 20px;
    padding-left: 20px;
}

.lista-footer {
    padding-left: 0;
    list-style: none;
}

.columna-redes {
    position: relative;
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
}

.columna-copyright {
    text-align: center;
    width: 100%;
}

.iconos-footer {
    display: inline-block;
    font-size: 4rem;
    margin-right: 3rem;
}

footer a, footer a:hover {
    color: #fff;
    text-decoration: none;
}

/* Footer /*/

.titulo {
    background-color: #EFECE6;
    margin: 4px 0px 0px;
    margin-top: 112px;
    margin-left: 58px;
    color: #03264C;
    font-family: 'Poppins', sans-serif;
    font-size: 44px;
}

.contenedor-imagen-descripcion {
    display: flex;
    flex: wrap;
}

.contenedor-imagen {
    margin-left: 40px;
    width: 30%;
}

.dejate-cautivar {
    font-size: 24px;
    margin-left: 60px;
}

.img {
    float: left;
    margin-right: 50px;
    margin-top: 15px;
}

.boton-cambiar {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #d8d8d8;
}

.boton-traslado {
    font-size: 15px;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #d8d8d8;
}

.comprar {
    margin-top: 35px;
    margin-left: 114px;
    font-size: 30px;
    color: #ffffff;
    padding-top: -20px;
    padding-bottom: 15px;
    padding-left: 22px;
    padding-top: 11px;
    padding-right: 20px;
    background-color: #03264C;
    font-family: 'Poppins', sans-serif;
}

.incluye {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 38px;
    margin-left: 38px;
}

.fa, .fas {
    font-weight: 900;
    font-size: 25px;
}

.desayuno {
    color: #03264C;
}

.puntaje {
    background-color: rgb(255, 198, 55);
    color: rgb(255, 255, 255);
    margin-left: 5px;
    font: 20px Verdana, Geneva, Tahoma, sans-serif;
}

.titulo-detalles {
    color: #03264C;
    font-size: 25px ;
    margin: 4px 0px 0px;
    list-style: none;
}

body {
    background-color: #EFECE6;
    color: black;
    font-family: 'Poppins', sans-serif;
}

main {
    margin-bottom: 150px;
}

.valija {
    color: black;
    font-size: 20px;
    margin-left: 15px;
}

.icono-reloj {
    color: black;
    font-size: 20px;
    margin-left: 5px;
}

.icono-cama {
    color: black;
    font-size: 35px;
    margin-right: 15px;
}

.icono-traslado {
    color: black;
    font-size: 35px;
    margin-right: 15px;
}

.icono-mapa {
    color: black;
    font-size: 35px;
    margin-right: 15px;
}

.avion {
    color: black;
    font-size: 35px;
    margin-right: 15px;
}

.descripcion {
    display: flex;
}

.descripcion-detalle {
    display: block;
}