body {
    background-color: midnightblue;
    color: white
}

.barra-navegacion {
    list-style: none;
}

.login-form {
    margin: auto;
}

.login-form .control-formulario {
    width: 100%;
}

.ingreso-facebook, .ingreso-google {
    border: 1px solid white;
    width: 40%;
    height: 35px;
    color: white;
    text-align: center;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;

}

.ingreso-facebook {
    background-color: blue;
}

.ingreso-google {
    background-color: crimson;
}

.boton-formulario {
    background-color: #03264C;
    border: none;
    font-size: 16px;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    width: 98%;
    margin-bottom: 15px;
    transition: all .5s;
}

.boton-formulario:hover {
    background-color: white;
    color: #03264C;
}

.crear-formulario {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.create-form {
    padding: 20px 15px;
    margin: auto;
    margin-top: 210px;
}

.control-formulario {
    margin-bottom: 15px;
    border: none;
    width: 31%;
}

.control-formulario select {
    width: 100%;
    height: 60%;
}

.control-formulario .label-form {
    margin-bottom: 5px;
    font-style: normal;
    display: block;
    font-weight: bold;
}

.control {
    width: 95%;
    padding: 8px;
    border-radius: 5px;
    border: none;
}

.noticias-usuario {
    display: flex;
    text-align: left;
    width: 76%;
    margin-top: 16px;
}

.sexo-usuario {
    display: flex;
    text-align: left;
    width: 76%;
    margin-top: 16px;
}

.titulo-register {
    padding-left: 15px;
}

.contenedor-form {
    border: white 1px solid;
    padding: 30px;
    width: 90%;
    margin: auto;
}

@media (min-width: 320px) {
    .control-formulario {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .control-formulario {
        width: 45%;
    }
}
@media (min-width: 1024px) {
    .control-formulario {
        width: 30%;
    }
}

