body {
    background-color: rgba(23, 0, 66, 0.548);
    color: white
}

.barra-navegacion {
    list-style: none;

}

.login-form {
    text-align: center;
    width: 60%;
    margin: auto;
    margin-top: 220px;
}

.boton-formulario {
    background-color: #03264C;
    border: none;
    font-size: 16px;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    width: 98%;
    margin-bottom: 15px;
    transition: all .5s;
}

.boton-formulario:hover {
    background-color: #0022AA;
}

.create-form {
    padding: 20px 15px;
    margin: auto;
    margin-top: 210px;
}

.control-formulario {
    margin-bottom: 15px;
    border: none;
}

.control-formulario .titulo-label {
    margin-bottom: 5px;
    font-style: normal;
    display: block;
    font-weight: bold;
}

.control {
    width: 95%;
    padding: 8px;
    border-radius: 5px;
    border: none;
}

.noticias-usuario {
    display: flex;
    text-align: left;
    width: 76%;
    margin-top: 16px;
}

.sexo-usuario {
    display: flex;
    text-align: left;
    width: 76%;
    margin-top: 16px;
}

