
body {
    background-color: #EFECE6;
    color: black;
    font-family: 'Poppins', sans-serif;
}

main {
    margin: 180px auto;
    width: 95%;
}

.contenedor-carrusel {
    margin-bottom: 40px;
}

.aventura {
    margin: auto;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    width: 38%;
}

.fotos-carrusel {
    text-align: center;
    justify-content: center;
}
.bienvenida {
    margin: auto;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    width: 35%;
}

.glaciar {
    width: 1000px;
    height: 490px;
}
.contenedor-tres-productos {
    display: flex;
    flex-wrap: wrap;
    margin-right: -20px;
    margin-left: -20px;
    justify-content: center;
    text-align: center;
    margin: auto;
}

.producto {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
    width: 33%;
}
.producto .foto-producto {
    position: relative;
}
.foto-producto-chica {
    width: 80%;
    height: 220px;
}

.descripcion-producto { 
    margin: 0 10%;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    margin-left: 38px;
}
.lista-productos {
    font-size: 20px;
    list-style: none;
    padding-left: 10px;
    
}
.boton-ver-mas {
    background-color: #D2373D;
    margin-top: auto;
    padding: 7px;
    font-size: 22px;
    border-radius: 4px;
    color: white;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.header-principal {
    width: 100%;
    margin: auto;
    height: 91px;
    background-color: #0f2a5f;
}

.header-alineado-flex {
    display: flex;
    align-items: center;
}

.contenedor-logo {
    height: 88px;
    width: 75%;
    text-align: left;
}

.barra-busqueda-menu {
    width: 25%;
}

.contenedor-barra-lupa {
    display: flex;
    background-color: #333;
    max-width: 250px;
}

.form-control {
    background-color: #333;
    border-color: #fff;
    color: #ccc;
    padding: 13px;
}

.lupa {
    background-color: #333;
    border-color: #fff;
    color: #ccc;
    font-size: 22px;
    padding: 12px;
}

.logo {
    width: 280px;
    height: 90px;
    padding-left: 65px;
}

.lista-navegacion {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 30%;
}

.contenedor-nav {
    background-color: white;
    width: 100%;
    height: 45px;
    padding: 7px;
}

.titulos-nav a {
    color: black;
    text-decoration: none;
}

.titulo-inicia-sesion {
    padding-left: 46px;
    font-size: 30px;
}

.login-form {
    margin: auto;
    display: block;
}

.contenedor-datos {
    width: 100%;
}

.contenedor-imagen-login {
    width: 100%;
}

.imagen-login {
    height: 100%;
    width: 100%;
}

.titulos-login {
    text-align: center;
}

.texto-login {
    text-align: center;
}

.texto-login a {
    color: black;
}

.login-form .control-formulario {
    width: 94%;
    text-align: center;
}

.ingreso-facebook, .ingreso-google {
    width: 68%;
    height: 35px;
    color: white;
    text-align: center;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

a:hover {
    color: #03264C;
}

.ingreso-facebook {
    background-color: #03264C;
}

.ingreso-facebook a {
    text-decoration: none;
    color: white;
}

.ingreso-google {
    background-color: crimson;
}

.ingreso-google a {
    text-decoration: none;
    color: white;
}

.boton-formulario {
    background-color: #03264C;
    border: none;
    font-size: 16px;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    width: 93%;
    transition: all .5s;
    margin-top: 20px;
}

.boton-formulario:hover {
    background-color: lightblue;
    color: #03264C;
}

.crear-formulario {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.create-form {
    padding: 20px 15px;
    margin: auto;
    margin-top: 210px;
}

.control-formulario {
    margin-bottom: 15px;
    border: none;
    width: 31%;
}

.control-formulario select {
    width: 95%;
    height: 60%;
}

.nacionalidad {
    margin-bottom: 15px;
}

.control-formulario .label-form {
    margin-bottom: 5px;
    font-style: normal;
    display: block;
    font-weight: bold;
}

.control {
    width: 90%;
    padding: 8px;
    border-radius: 5px;
    border: none;
}

.noticias-usuario {
    display: flex;
    text-align: left;
    width: 76%;
    margin-top: 16px;
}

.boton-ingreso-redes {
    padding: 6px
}

.sexo-usuario {
    display: flex;
    text-align: left;
    width: 76%;
    margin-top: 16px;
}

.titulo-register {
    padding-left: 46px;
    font-size: 30px;
}

.contenedor-form-register {
    border: black 3px solid;
    padding: 30px;
    width: 70%;
    margin: auto;
    margin-top: 112px;
    margin-bottom: 110px;
}

.contenedor-form-login {
    border: black 3px solid;
    padding: 30px;
    width: 70%;
    margin: auto;
    margin-top: 112px;
    margin-bottom: 138px;
}

footer {
    background-color: #01011f;
    color: #fff;
    font-size: 18px;
    text-align: center;
}

.contenedor-footer {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

footer .row {
    text-align: left;
}

.fila {
    display: flex;
    margin-right: -20px;
    margin-left: -20px;
    height: 200px;
    line-height: 36px;
}

.columna-legal{
    position: relative;
    width: 50%;
    padding-right: 20px;
    padding-left: 20px;
}

.columna-compañia{
    position: relative;
    width: 50%;
    padding-right: 20px;
    padding-left: 20px;
}

.lista-footer {
    padding-left: 0;
    list-style: none;
}

.columna-redes {
    position: relative;
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
}
.columna-copyright{
    text-align: center;
    width: 100%;
}

.iconos-footer {
    display: inline-block;
    font-size: 4rem;
    margin-right: 3rem;
}

footer a, footer a:hover {
    color: #fff;
    text-decoration: none;
}

@media (min-width: 320px) {
    .control-formulario {
        width: 100%;
    }
    .imagen-login {
        display: none;
    }
}

@media (min-width: 768px) {
    .control-formulario {
        width: 45%;
    }
    .login-form {
        display: flex;
        margin: auto;
    }
    .contenedor-datos {
        width: 50%;
    }
    .contenedor-imagen-login {
        width: 50%;
    }
    .imagen-login {
        display: block;
    }
}

@media (min-width: 1024px) {
    .control-formulario {
        width: 30%;
    }
}

